@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap'); *
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}



.container{
    position: relative;
}

.grid-container {
    
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  padding: 10px;
    
  }
.container .card{
    position: relative;
    background-color: #333333;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
}

.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orangered;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.container .card:after{
    content: 'adidas';
    position: absolute;
    top: 45%;
    left: -20%;
    font-size: 7rem;
    font-style: italic;
    font-weight: 600;
    color: rgba(71, 71, 71, 0.32);
    
}

.container .card .imgBx{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 200px;
    z-index: 10000;
    transition: 0.5s;
    transform: translateY(-50%);
}

.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}
.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx{
    height: 210px;
}

.container .card .contentBx h2{
    position: relative;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.container .card .contentBx .size,
.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: #111;
    background: white;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}

.container .card .contentBx .size span:hover{
    background: orangered;
    color: white;
}

.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: orangered;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2){
    background: blue;
}
.container .card .contentBx .color span:nth-child(3){
    background: orangered;
}
.container .card .contentBx .color span:nth-child(4){
    background: rgb(163, 238, 13);
}
.container .card .contentBx .color span:nth-child(5){
    background: rgb(238, 13, 126);
}

.container .card .contentBx a{
    display: inline-block;
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: orangered;
    opacity: 0px;
    font-weight: 600;
    transform: translateY(50px);
    transition: 0 5s;
}
.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}




/* 2nd Card */

.container{
    position: relative;
}
.container .card2{
    position: relative;
    background-image: url(../images/heelss-2.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
}

.container .card2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    clip-path: circle(150px at  28% 22%);
    transition: 0.5s ease-in-out;
}

.container .card2:hover:before{
    clip-path: circle(300px at 70% -30%);
}
/*
.container .card2:after{
    content: 'Walky';
    position: absolute;
    top: 45%;
    left: -15%;
    font-size: 7rem;
    font-style: italic;
    font-weight: 600;
    color: #C0C291;  
}
*/
.container .card2 .imgBx2{
    position: absolute;
    top: 40%;
    left: 10px;
    width: 100%;
    height: 200px;
    z-index: 10000;
    transition: 0.5s;
    transform: translateY(-50%);
}

.container .card2:hover .imgBx2{
    top: 5%;
    transform: translateY(0%);
}

.container .card2 .imgBx2 img{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
    height: 200px;
}
.container .card2 .contentBx2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card2:hover .contentBx2{
    height: 210px;
}

.container .card2 .contentBx2 h2{
    position: relative;
    color: blue;
    font-weight: 700;
    letter-spacing: 1px;
}

.container .card2 .contentBx2 .size2,
.container .card2 .contentBx2 .color2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card2:hover .contentBx2 .size2{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card2:hover .contentBx2 .color2{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card2 .contentBx2 .size2 h3,
.container .card2 .contentBx2 .color2 h3{
    color: blue;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card2 .contentBx2 .size2 span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background: blue;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}

.container .card2 .contentBx2 .size2 span:hover{
    background: red;
    color: white;
}

.container .card2 .contentBx2 .color2 span{
    width: 20px;
    height: 20px;
    background: orangered;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card2 .contentBx2 .color2 span:nth-child(2){
    background: blue;
}
.container .card2 .contentBx2 .color2 span:nth-child(3){
    background: red;
}
.container .card2 .contentBx2 .color2 span:nth-child(4){
    background: black;
}
.container .card2 .contentBx2 .color2 span:nth-child(5){
    background: rgb(238, 13, 126);
}

.container .card2 .contentBx2 a{
    display: inline-block;
    background: white;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
    opacity: 0px;
    font-weight: 600;
    transform: translateY(50px);
    transition: 0 5s;
}
.container .card2:hover .contentBx2 a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}